<div class="mx-5">
<h4>Donnez votre avis</h4>
{{ form_start(form) }}
{{ form_errors(form) }}
    <div class="form-group row align-items-center">
        <div class="col-auto">{{ form_label(form.writer) }}</div>
        <div class="col-3">{{ form_widget(form.writer) }}</div>
        <div class="col-auto">{{ form_label(form.email) }}{{ form_help(form.email) }}</div>
        <div class="col-auto">{{ form_widget(form.email) }}</div>
    </div>
    <div class="form-group mb-2">
        <span class="star">
        {% for i in 0..4 %}
            {% if i < form.stars.vars.value %}
                <i id="{{ i }}" class="rating-star bi bi-star-fill selected" title="{{ i+1 }}"></i>
            {% else %}
                <i id="{{ i }}" class="rating-star bi bi-star" title="{{ i+1 }}"></i>
            {% endif %}
        {% endfor %}
        </span>
    </div>
    {{ form_row(form.content) }}
    <div class="d-grid">
        <button type="submit" class="btn btn-outline-secondary">Ajouter</button>
    </div>
{{ form_end(form) }}
</div>