{{ form_start(replyForm, { 'action': path('reply_to_comment', {id: id}) }) }}
<div class="form-group align-items-center">
</div>
{{ form_row(replyForm.content) }}
{{ form_row(replyForm.writer) }}
{{ form_row(replyForm.email) }}
<div class="pl-5">
</div>
<div class="text-right pt-2">
<button type="submit" class="btn btn-success modal-submit">Répondre</button>
</div>
{{ form_end(replyForm) }}