<div class="my-3">
{{ form_start(replyForm, { 'action': path('reply_to_comment', {id: id}) }) }}
<div class="form-group row align-items-center">
    <div class="col-auto">{{ form_widget(replyForm.writer) }}</div>
    <div class="col-auto">{{ form_widget(replyForm.email) }}</div>
</div>
<div class="form-group align-items-center">
    {{ form_row(replyForm.content) }}
</div>
<div class="d-grid">
<button type="submit" class="btn btn-outline-secondary">Répondre</button>
</div>
{{ form_end(replyForm) }}
</div>