{% extends 'base.html.twig' %}
{% import _self as form_macros %}

{% block title %}Recette{% endblock %}

{% macro printIngredientRow(ingredientForm) %}
    <div class="col-2 p-0">{{ form_widget(ingredientForm.number) }}</div>
    <div class="col-2 p-0">{{ form_widget(ingredientForm.type) }}</div>
    <div class="col-3 p-0">{{ form_widget(ingredientForm.name) }}</div>
        <button type="button" id="removeIng{{ingredientForm.vars.name}}"
        class="col-1 p-0 btn btn-danger btn-delete">
            <i class='bi bi-trash-fill'></i>
        </button>
{% endmacro %}
{% macro printStepRow(stepForm) %}
    <div class="col p-0">{{ form_widget(stepForm.text) }}</div>
    <button type="button" id="removeStep{{stepForm.vars.name}}"
    class="col-1 p-0 btn btn-danger btn-delete">
        <i class='bi bi-trash-fill'></i>
    </button>
{% endmacro %}

{% block body %}
    <h1 class="text-center" id="page-title" data-page-title={{ page_title }}>{{ page_title }} recette</h1>

{{ form_start(form) }}
    {{ form_row(form._token) }}
    <div class="not-displayed">{{ form_row(form.image) }}</div>
    <div class="row align-items-center mb-3">
        <div class="col-1">
            <button type="button" class="btn btn-light btn-lg shadow" 
                onclick="document.getElementById('recipe_image').click()"
                title="Ajouter une image correspondant à la recette">
                <i class="bi bi-image"></i>
            </button>
        </div>
        <div class="col-6">
            {{ form_row(form.name) }}
        </div>
    
        <div class="col-5 text-center">
            <img id="preview" class="{% if not form.vars.value.image %}not-displayed{% endif %}" src="{{ asset('images/' ~ form.vars.value.image) }}" width="200"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{ form_row(form.type) }}
        </div>
        <div class="col">
            {{ form_row(form.difficulty) }}
        </div>
        <div class="col">
            {{ form_row(form.time) }}
        </div>
    </div>
    <div class="heading text-right">
        <h3>{{ form_label(form.ingredients) }}</h3>
        <button type="button" class="btn btn-light shadow rounded-circle ms-3" id="add_ing_link" data-collection-holder-class="ingredients">
            +
        </button>
    </div>
    <ul class="ingredients" data-index="{{form.ingredients|length}}" data-prototype="{{ form_macros.printIngredientRow(form.ingredients.vars.prototype)|e('html_attr') }}">
        {% for ingredient in form.ingredients %}
        <li id="Ing{{loop.index0}}" class="row align-items-center">
            {{ form_macros.printIngredientRow(ingredient)}}
        </li>
        {% endfor %}
    </ul>
    <div class="heading col text-right">
        <h3>{{ form_label(form.steps) }}</h3>
        <button type="button" class="btn btn-light shadow rounded-circle ms-3" id="add_step_link" data-collection-holder-class="steps">
            +
        </button>
    </div>
    <ol class="steps" data-index="{{form.steps|length}}" data-prototype="{{ form_macros.printStepRow(form.steps.vars.prototype)|e('html_attr') }}">
        {% for step in form.steps %}
        <li id="Step{{loop.index0}}" class="row align-items-center">
            {{ form_macros.printStepRow(step)}}
        </li>
        {% endfor %}
    </ol>
    
    <button type="submit" class="btn btn-light shadow">Save</button>
{{ form_end(form, {render_rest: false}) }}
{% endblock %}

{% block js %}
document.addEventListener("DOMContentLoaded", function() {
    //Affichage de l'apperçu de l'image
    recipe_image = document.getElementById("recipe_image")
    recipe_image.onchange = evt => {
        const [file] = recipe_image.files
        if (file) {
            preview = document.getElementById("preview");
            preview.classList.remove("not-displayed");
            preview.src = URL.createObjectURL(file)
        }
    }

    //Ajout d'un élément (ingrédient, étape) à une collection
    const addFormToCollection = (e, type) => {
        const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

        const id = collectionHolder.dataset.index;
        const item = document.createElement('li');
        item.id = type + id;
        item.classList.add("row")
        item.classList.add("align-items-center")
        item.innerHTML = collectionHolder.dataset.prototype
            .replace(
            /__name__/g,
            collectionHolder.dataset.index
            );
        collectionHolder.appendChild(item);
        const btnRemove = document.getElementById("remove" + type + id)
        
        collectionHolder.dataset.index++;
        
        btnRemove.addEventListener('click', (e) => {
            e.preventDefault()
            document.getElementById(type + id).remove();
        });
    }

    //Attachement aux boutons d'ajout
    document.getElementById("add_ing_link").addEventListener("click", function(e) {
        return addFormToCollection(e,"Ing")
    }, false)
    document.getElementById("add_step_link").addEventListener("click", function(e) {
        return addFormToCollection(e, "Step")
    }, false)

    //Création d'un élément pour chaque collection si le formulaire est utilisé pour une nouvelle recette
    console.log(document.getElementById('page-title').dataset.pageTitle)
    if(document.getElementById('page-title').dataset.pageTitle == "Nouvelle") {
        document.getElementById("add_ing_link").click();
        document.getElementById("add_step_link").click();
    }
    //Ajout de la suppression d'un élément de sa collection    
    for(let i = 0; i < document.querySelector("ul.ingredients").getElementsByTagName("li").length; i++) {
        document.getElementById("removeIng" + i).addEventListener('click', (e) => {
            e.preventDefault()
            document.getElementById("Ing" + i).remove();
        });
    }
    for(let i = 0; i < document.querySelector("ol.steps").getElementsByTagName("li").length; i++) {
        document.getElementById("removeStep" + i).addEventListener('click', (e) => {
            e.preventDefault()
            document.getElementById("Step" + i).remove();
        });
    }
})
{% endblock %}