{% extends 'base.html.twig' %}

{% block title %}Mes recettes{% endblock %}

{% block body %}
<div class="row row-cols-1 row-cols-3 g-4">
{% for recipe in recipes %}
<div class="col">
    <div class="card">
        {% if recipe.image %}
            <a href="{{ path('recipe', {id: recipe.id}) }}" class="recipe">
                <img src="{{ asset('images/' ~ recipe.image) }}" class="card-image cover" 
                    alt="image de la recette {{ recipe.name }}" title="{{ recipe.name }}">
                <img class="type" src="{{ asset('build/images/' ~ recipe.type ~ '.png') }}" alt="{{ recipe.type }}" title="{{recipe.type}}" />
            </a> 
        {% else %}
            <img src="{{ asset('build/images/' ~ recipe.type ~ '32.png') }}" width="50" class="card-img-top" alt="{{ recipe.type }}">
        {% endif %}
    <div class="card-body">
            <h5 class="card-title">{{ recipe.name }}</h5>
        </div>
        
    </div>
</div>
{% endfor %}
</div>
{% endblock %}