{% extends 'base.html.twig' %}

{% block title %}Mes {{type}}s{% endblock %}

{% block body %}
<div class="row row-cols-1 row-cols-3 g-4">
{% for recipe in recipes %}
<div class="col">
    <div class="card">
    <div class="card-body">
            <h5 class="card-title">
                <i><img src="{{ asset('build/images/' ~ recipe.type ~ '32.png') }}" alt="{{ recipe.type }}"></i> {{ recipe.name }}
            </h5>
        </div>
        {% if recipe.image %}
            <a href="{{ path('recipe', {id: recipe.id}) }}"><img src="{{ asset('images/' ~ recipe.image) }}" class="card-img-top" 
                style="width: 100%;height: 23vw;object-fit: cover;" 
                alt="image de la recette {{ recipe.name }}"></a>
        {% else %}
            <img src="{{ asset('build/images/' ~ recipe.type ~ '32.png') }}" width="50" class="card-img-top" alt="{{ recipe.type }}">
        {% endif %}
        
    </div>
</div>
{% endfor %}
</div>
{% endblock %}