{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}
<div class="title text-center">
    <h1>{{ recipe.name }}</h1>
    {% if recipe.image %}
        <img src="{{ asset("images/" ~ recipe.image) }}" alt="image de la recette {{ recipe.name }}" width="300"/>
    {% endif %}
</div>
<div class="col text-start mb-3 font-weight-bold">
    <div>{{ recipe.difficulty | capitalize }}</div>
    <div><i class="bi bi-clock"></i>
        {% if recipe.preparationTime|date("G") > 0 %}
            {{ recipe.preparationTime | date('G\\h') }}
        {% endif %}
        {% if recipe.preparationTime|date("i") > 0 %}
            {{ recipe.preparationTime|date('i') }}min
        {% endif %}
    </div>
    <div>
        <i class="bi bi-thermometer-half"></i>
        {% if recipe.cookingTime|date("G") > 0 %}
            {{ recipe.cookingTime | date('G\\h') }}
        {% endif %}
        {% if recipe.cookingTime|date("i") > 0 %}
            {{ recipe.cookingTime|date('i') }}min
        {% endif %}
    </div>
</div>
<div>
    <h3><i class="bi bi-basket"></i> Les ingrédients</h3>
    <ul class="show ingredients">
    {% for ing in recipe.ingredients %}
        {% set char = ing.name|slice(0,1) %}

        {% if ing.type is not null and (char == "a" or char == "e" or char =="i" or char == "o" or char == "u" or char == "y") %}
            {% set d = "d\'" %}
        {% elseif ing.type is null %}
            {% set d = null %}
        {% else %}
            {% set d = "de" %}
        {% endif %}
            <li>{{ ing.number }} {{ ing.type }} {{ d }} {{ ing.name }}</li>
    {% endfor %}
    </ul>
    <h3><i class="bi bi-card-list"></i> Les étapes</h3>
    <ol class="show steps">
    {% for step in recipe.steps %}
        <li><p>{{ step.text }}</p></li>
    {% endfor %}
    </ol>
</div>
{% endblock %}