{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}
<div class="title text-center">
    <h1 class="mb-4">{{ recipe.name }}</h1>
    {% if recipe.image %}
        <img src="{{ asset("images/" ~ recipe.image) }}" alt="image de la recette {{ recipe.name }}" width="500"/>
    {% endif %}
</div>
<div class="row justify-content-center mt-1 mb-4">
    <div class="col-auto">{{ recipe.difficulty | capitalize }}</div>
    |
    <div class="col-auto"><i class="bi bi-clock"></i>
        {% if recipe.preparationTime|date("G") > 0 %}
            {{ recipe.preparationTime | date('G\\h') }}
        {% endif %}
        {% if recipe.preparationTime|date("i") > 0 %}
            {{ recipe.preparationTime|date('i') }}min
        {% endif %}
    </div>
    |
    <div class="col-auto">
        <i class="bi bi-thermometer-half"></i>
        {% if recipe.cookingTime|date("G") > 0 %}
            {{ recipe.cookingTime | date('G\\h') }}
        {% endif %}
        {% if recipe.cookingTime|date("i") > 0 %}
            {{ recipe.cookingTime|date('i') }}min
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col-4 border-end border-secondary">
        <h3><i class="bi bi-basket"></i> Les ingrédients</h3>
        <ul class="show ingredients mb-4">
        {% for ing in recipe.ingredients %}
            {% set char = ing.name|slice(0,1) %}

            {% if ing.type is not null and (char == "a" or char == "e" or char =="i" or char == "o" or char == "u" or char == "y") %}
                {% set d = "d\'" %}
            {% elseif ing.type is null %}
                {% set d = null %}
            {% else %}
                {% set d = "de " %}
            {% endif %}
                <li>{{ ing.number }} {{ ing.type }} {{ d }}{{ ing.name }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-8">
        <h3><i class="bi bi-card-list"></i> Les étapes</h3>
        <ol class="show steps">
        {% for step in recipe.steps %}
            <li><p>{{ step.text }}</p></li>
        {% endfor %}
        </ol>
    </div>
</div>

<h3><i class="bi bi-chat-left-text"></i> Les commentaires</h3>
<div class="show comments mt-3 w-75" data-nb-comments="{{ recipe.comments | length }}">
{% for comment in recipe.comments %}
    {% include "comment/show.html.twig" with {comment: comment, id:loop.index0} %}
{% endfor %}
</div>

{% include "comment/add.html.twig" %}
{% endblock %}

{% block js %}
    {% include "js/set_comment_color.js" %}
    
    {% include "js/star_rating.js" %}
{% endblock %}