<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <script>
                {% block js %}{% endblock %}
            </script>
        {% endblock %}
    </head>
    <body>
        <header class="">
            <img src="{{ asset('build/images/header.jpg') }}" class="img-responsive cover"></img>
        </header>
        {% if app.request.attributes.get('_route') != "app_login" and not app.user %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        {% for type in types %}
                            <li class="nav-item"><a class="nav-link" href="{{ path('list_type', {type:type.id}) }}">{{type.name|capitalize}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </nav> 
        {% endif %}
        {% if app.request.attributes.get('_route') != "app_login" and (app.user and "ROLE_ADMIN" in app.user.roles) %}
            {% include "admin/menu.html.twig" %}
        {% endif %}
        <div class="{% if app.request.attributes.get('_route') != "app_login"
            and (app.user and "ROLE_ADMIN" in app.user.roles) %}with-sb{% endif %}">
            <div class="container pt-3">
                {% block body %}{% endblock %}
            </div>
            <footer class="py-5 ps-2 mt-5 bg-light">
                {% include "about.html.twig" %}
            </footer>
        </div>
    </body>
</html>
