<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <script>
                {% block js %}{% endblock %}
            </script>
        {% endblock %}
    </head>
    <body>
        <header class="">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
            </div>
        </nav>
            <img src="{{ asset('build/images/header.jpg') }}" class="img-responsive" style="object-fit: cover;
    height: 15vw;width: 100%;" ></img>
        </header>
        {% if app.request.attributes.get('_route') != "app_login"
            or (app.user and "ROLE_ADMIN" not in app.user.roles) %}
        
        <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav collapse mb-2 mb-lg-0">
                {% for type in types %}
                    <li class="nav-item"><a class="nav-link" href="{{ path('list_type', {type:type}) }}">{{type|capitalize}}</a></li>
                {% endfor %}
                </ul>
            </div>
        </nav>
        {% endif %}
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {# <footer class="py-5 mt-5 bg-light"> #}
        {# {% include "about.html.twig" %}</footer> #}
    </body>
</html>
